# SQL CARTO QUERY FUNCTION
# written for PUI2016_Python2

##### This notebook is set up to link as a default to the fb55 account.  To turn in the homework use the same account you used in the lab (hvt201)  and query the database that you were querying in class (citibike_feb_2015)

In [1]:
SQL_SOURCE = 'https://zz1749.carto.com/api/v2/sql?q='

import urllib2
import urllib
import StringIO
import ast
import pandas as pd

def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urllib.urlencode({'format': format, 'q': query})
    try:
        response = urllib2.urlopen(source, data)
    except urllib2.HTTPError, e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return response.read()

# Task 1

## Sort data by start_station_id - only checking trips with duration <= 3 hours

## 1. the top 10 records

In [10]:
test = '''
SELECT * FROM citibike_feb_2015
WHERE tripduration<10800
ORDER BY start_station_id
LIMIT 10
'''

In [11]:
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,3302,NaN,NaN,1,1981.0,17429,499,72,569,Subscriber,Broadway & W 60 St,W 52 St & 11 Ave,-73.981918,40.769155,-73.993929,40.767272,2015-02-01 15:01:00+00,2015-02-01 14:52:00+00
1,1527,NaN,NaN,1,1977.0,16524,212,72,962,Subscriber,W 16 St & The High Line,W 52 St & 11 Ave,-74.006818,40.743349,-73.993929,40.767272,2015-02-01 12:03:00+00,2015-02-01 11:47:00+00
2,2142,NaN,NaN,1,1982.0,19672,478,72,339,Subscriber,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-01 13:00:00+00,2015-02-01 12:54:00+00
3,2282,NaN,NaN,1,1974.0,18174,447,72,301,Subscriber,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-01 13:13:00+00,2015-02-01 13:08:00+00
4,387,NaN,NaN,2,1972.0,20786,212,72,961,Subscriber,W 16 St & The High Line,W 52 St & 11 Ave,-74.006818,40.743349,-73.993929,40.767272,2015-02-01 08:54:00+00,2015-02-01 08:38:00+00
5,649,NaN,NaN,2,1986.0,14692,2021,72,344,Subscriber,W 45 St & 8 Ave,W 52 St & 11 Ave,-73.988597,40.759291,-73.993929,40.767272,2015-02-01 09:54:00+00,2015-02-01 09:49:00+00
6,1230,NaN,NaN,1,1969.0,17541,212,72,934,Subscriber,W 16 St & The High Line,W 52 St & 11 Ave,-74.006818,40.743349,-73.993929,40.767272,2015-02-01 11:30:00+00,2015-02-01 11:14:00+00
7,1983,NaN,NaN,0,NaN,17849,328,72,1944,Customer,Watts St & Greenwich St,W 52 St & 11 Ave,-74.009660,40.724055,-73.993929,40.767272,2015-02-01 13:12:00+00,2015-02-01 12:39:00+00
8,5136,NaN,NaN,1,1983.0,16427,529,72,455,Subscriber,W 42 St & 8 Ave,W 52 St & 11 Ave,-73.990985,40.757570,-73.993929,40.767272,2015-02-01 18:03:00+00,2015-02-01 17:55:00+00
9,3957,NaN,NaN,1,1991.0,15282,514,72,387,Subscriber,12 Ave & W 40 St,W 52 St & 11 Ave,-74.002777,40.760875,-73.993929,40.767272,2015-02-01 16:03:00+00,2015-02-01 15:57:00+00

## 2. the last 10 records

In [12]:
test = '''
SELECT * FROM citibike_feb_2015
WHERE tripduration<10800
ORDER BY start_station_id DESC
LIMIT 10
'''

In [13]:
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,1228,NaN,NaN,0,NaN,17849,525,3002,1900,Customer,W 34 St & 11 Ave,South End Ave & Liberty St,-74.002116,40.755942,-74.015756,40.711512,2015-02-01 11:45:00+00,2015-02-01 11:14:00+00
1,1863,NaN,NaN,1,1996.0,19309,358,3002,689,Subscriber,Christopher St & Greenwich St,South End Ave & Liberty St,-74.007114,40.732916,-74.015756,40.711512,2015-02-01 12:36:00+00,2015-02-01 12:25:00+00
2,1472,NaN,NaN,2,1980.0,16987,308,3002,683,Subscriber,St James Pl & Oliver St,South End Ave & Liberty St,-73.998512,40.713079,-74.015756,40.711512,2015-02-01 11:55:00+00,2015-02-01 11:43:00+00
3,1506,NaN,NaN,0,NaN,21202,499,3002,7225,Customer,Broadway & W 60 St,South End Ave & Liberty St,-73.981918,40.769155,-74.015756,40.711512,2015-02-01 13:47:00+00,2015-02-01 11:46:00+00
4,1587,NaN,NaN,1,1959.0,15748,355,3002,858,Subscriber,Bayard St & Baxter St,South End Ave & Liberty St,-73.999744,40.716021,-74.015756,40.711512,2015-02-01 12:07:00+00,2015-02-01 11:53:00+00
5,1628,NaN,NaN,1,1980.0,20901,369,3002,745,Subscriber,Washington Pl & 6 Ave,South End Ave & Liberty St,-74.000264,40.732241,-74.015756,40.711512,2015-02-01 12:09:00+00,2015-02-01 11:57:00+00
6,293,NaN,NaN,2,1980.0,19484,417,3002,301,Subscriber,Barclay St & Church St,South End Ave & Liberty St,-74.010202,40.712912,-74.015756,40.711512,2015-02-01 07:54:00+00,2015-02-01 07:49:00+00
7,1333,NaN,NaN,0,NaN,18288,360,3002,1243,Customer,William St & Pine St,South End Ave & Liberty St,-74.008873,40.707179,-74.015756,40.711512,2015-02-01 11:48:00+00,2015-02-01 11:27:00+00
8,2205,NaN,NaN,1,1979.0,17004,368,3002,790,Subscriber,Carmine St & 6 Ave,South End Ave & Liberty St,-74.002150,40.730386,-74.015756,40.711512,2015-02-01 13:14:00+00,2015-02-01 13:01:00+00
9,2026,NaN,NaN,2,1984.0,18386,147,3002,307,Subscriber,Greenwich St & Warren St,South End Ave & Liberty St,-74.011220,40.715422,-74.015756,40.711512,2015-02-01 12:47:00+00,2015-02-01 12:42:00+00

## Sort data by tripduration - only checking trips with duration <= 3 hours

## 1. the top 10 records

In [14]:
test = '''
SELECT * FROM citibike_feb_2015
WHERE tripduration<10800
ORDER BY tripduration
LIMIT 10
'''

In [15]:
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,13043,NaN,NaN,1,1971,14788,521,521,60,Subscriber,8 Ave & W 31 St,8 Ave & W 31 St,-73.994811,40.750450,-73.994811,40.750450,2015-02-04 06:55:00+00,2015-02-04 06:54:00+00
1,14117,NaN,NaN,1,1990,21644,296,296,60,Subscriber,Division St & Bowery,Division St & Bowery,-73.997047,40.714131,-73.997047,40.714131,2015-02-04 08:42:00+00,2015-02-04 08:41:00+00
2,8284,NaN,NaN,1,1982,19896,251,251,60,Subscriber,Mott St & Prince St,Mott St & Prince St,-73.994800,40.723180,-73.994800,40.723180,2015-02-03 08:08:00+00,2015-02-03 08:07:00+00
3,11104,NaN,NaN,1,1980,16340,471,471,60,Subscriber,Grand St & Havemeyer St,Grand St & Havemeyer St,-73.956981,40.712868,-73.956981,40.712868,2015-02-03 18:02:00+00,2015-02-03 18:01:00+00
4,3110,NaN,NaN,1,1985,20572,317,317,60,Subscriber,E 6 St & Avenue B,E 6 St & Avenue B,-73.981854,40.724537,-73.981854,40.724537,2015-02-01 14:35:00+00,2015-02-01 14:34:00+00
5,13482,NaN,NaN,2,1960,21627,512,512,60,Subscriber,W 29 St & 9 Ave,W 29 St & 9 Ave,-73.998393,40.750073,-73.998393,40.750073,2015-02-04 07:53:00+00,2015-02-04 07:52:00+00
6,7299,NaN,NaN,1,1956,20842,474,474,60,Subscriber,5 Ave & E 29 St,5 Ave & E 29 St,-73.986831,40.745168,-73.986831,40.745168,2015-02-02 17:15:00+00,2015-02-02 17:14:00+00
7,7798,NaN,NaN,1,1986,17643,379,379,60,Subscriber,W 31 St & 7 Ave,W 31 St & 7 Ave,-73.991600,40.749156,-73.991600,40.749156,2015-02-02 21:40:00+00,2015-02-02 21:39:00+00
8,21407,NaN,NaN,1,1980,16148,523,523,60,Subscriber,W 38 St & 8 Ave,W 38 St & 8 Ave,-73.991382,40.754666,-73.991382,40.754666,2015-02-04 22:39:00+00,2015-02-04 22:38:00+00
9,19243,NaN,NaN,1,1970,20309,248,248,60,Subscriber,Laight St & Hudson St,Laight St & Hudson St,-74.007718,40.721854,-74.007718,40.721854,2015-02-04 18:23:00+00,2015-02-04 18:22:00+00

## 2. the last 10 records

In [16]:
test = '''
SELECT * FROM citibike_feb_2015
WHERE tripduration<10800
ORDER BY tripduration DESC
LIMIT 10
'''

In [17]:
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,41392,NaN,NaN,1,1973,15082,173,284,10757,Subscriber,Broadway & W 49 St,Greenwich Ave & 8 Ave,-73.984427,40.760647,-74.002638,40.739017,2015-02-07 15:16:00+00,2015-02-07 12:17:00+00
1,10912,NaN,NaN,1,1950,16099,435,512,10660,Subscriber,W 21 St & 6 Ave,W 29 St & 9 Ave,-73.994156,40.741740,-73.998393,40.750073,2015-02-03 20:40:00+00,2015-02-03 17:42:00+00
2,40221,NaN,NaN,1,1983,21323,405,405,10174,Subscriber,Washington St & Gansevoort St,Washington St & Gansevoort St,-74.008119,40.739323,-74.008119,40.739323,2015-02-07 12:20:00+00,2015-02-07 09:31:00+00
3,7472,NaN,NaN,2,1987,19921,264,386,9969,Subscriber,Maiden Ln & Pearl St,Centre St & Worth St,-74.007319,40.707065,-74.002345,40.714948,2015-02-02 21:08:00+00,2015-02-02 18:22:00+00
4,9696,NaN,NaN,1,1970,19070,2023,468,9938,Subscriber,E 55 St & Lexington Ave,Broadway & W 55 St,-73.970314,40.759681,-73.981923,40.765265,2015-02-03 16:55:00+00,2015-02-03 14:10:00+00
5,15336,NaN,NaN,1,1985,18088,435,435,9807,Subscriber,W 21 St & 6 Ave,W 21 St & 6 Ave,-73.994156,40.741740,-73.994156,40.741740,2015-02-04 13:36:00+00,2015-02-04 10:53:00+00
6,25203,NaN,NaN,1,1962,14726,2021,457,9711,Subscriber,W 45 St & 8 Ave,Broadway & W 58 St,-73.988597,40.759291,-73.981693,40.766953,2015-02-05 13:54:00+00,2015-02-05 11:12:00+00
7,19897,NaN,NaN,2,1966,14691,517,402,9572,Subscriber,Pershing Square South,Broadway & E 22 St,-73.977910,40.751581,-73.989551,40.740343,2015-02-04 21:48:00+00,2015-02-04 19:09:00+00
8,7073,NaN,NaN,1,1940,14802,499,499,9556,Subscriber,Broadway & W 60 St,Broadway & W 60 St,-73.981918,40.769155,-73.981918,40.769155,2015-02-02 16:05:00+00,2015-02-02 13:25:00+00
9,11810,NaN,NaN,1,1968,15018,324,324,9373,Subscriber,DeKalb Ave & Hudson Ave,DeKalb Ave & Hudson Ave,-73.981013,40.689888,-73.981013,40.689888,2015-02-03 22:01:00+00,2015-02-03 19:25:00+00

## List all unique start_station_id values

# extra credit: make the function python 2 and 3 compatible so that it works on the  PUI2016_Python3 kernel